.skill-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.skill-card {
  background-color: var(--color-variant-even);
  border-radius: 1rem;
  box-shadow: 0 5px 3px rgb(0 0 0 / 10%);
  transition: var(--transition);
}

.skill-card:hover {
   transform: scale(1.05); 
   box-shadow: 3px 5px 4px rgba(0 0 0 / 10%),
               -3px 5px 4px rgba(0 0 0 / 10%);
   transition: var(--transition);
}

.card-header {
  padding: 1.2rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 5px 3px rgb(0 0 0 / 10%);
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--color-dark);
}

.card-content {
  display: grid;
  row-gap: 2rem;
  padding: 1.5rem 3rem 3rem 3rem;
}

.card-content-icon {
  flex-shrink: 0;
}

.card-content li {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .skill-cards {
    grid-template-columns: 1fr;
    margin: 0 2rem;
  }

  .card-content {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .card-header {
    font-size: 1rem;

  }
  .card-content {
    grid-template-columns: 1fr;
    row-gap: 1rem;
    padding: 2rem;
  }
  .card-content li {
    font-size: 1.2rem;
  }
}

