.skill-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.skill-card {
  background-color: var(--color-variant-even);
  border-radius: 1rem;
  box-shadow: 0 5px 3px rgb(0 0 0 / 10%);
}

.card-header {
  padding: 2rem;
  text-align: center;
  border-radius: 1rem;
  
  box-shadow: 0 5px 3px rgb(0 0 0 / 10%);
  
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--color-dark);
}

.card-content {
  display: grid;
  row-gap: 2rem;
  padding: 1.5rem 3rem 3rem 3rem;
}

.card-content li {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: 500;
}


@media screen and (max-width: 1024px) {
  .skill-cards {
    grid-template-columns: 1fr;
  }

  .card-content {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .card-content {
    grid-template-columns: 1fr;
  }
}

