.header {
  position: sticky;
  z-index: 1;
  background-color: var(--color-bg);
  height: 100px;
  top: 0;
  left: 0; 
  text-align: center;
  font-size: 25px;
  transition: var(--transition);
}

.header.header-bg {
  box-shadow: 0 2px 3px rgb(0 0 0 / 10%); 
}

.header-container {
  height: inherit;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: inherit;
  padding: 0 1rem;
}

.hamburger {
  visibility: hidden;
}

.nav-items {
  display: flex;
}

.nav-item {
  padding-left: 2rem;
}

.nav-item:hover::before {
  visibility: visible;
  left: -8px;
  transition: var(--transition);
}

.nav-item::before {
  visibility: hidden;
  content: '';
  border: solid var(--color-dark);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  left: -16px;
  top: -4px;
  position: relative;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.nav-item.active::before {
  visibility: visible;
  left: -8px;
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 600px) {
  .header {
    height: 80px;
  }
  
  .hamburger {
    visibility: visible; 
  }

  .navbar {
    max-width: 100%;
  }

  .nav-items {
    position: fixed;
    right: -100%;
    top: 70px;
    flex-direction: column;
    background-color: rgb(0 0 0 / 5%);
    width: 40%;
    height: fit-content;
    text-align: center;
    transition: var(--transition);
    backdrop-filter: blur(10px);
  }

  .nav-items.active {
    right: 0;
    box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 
                0 -1px 1px rgb(0 0 0 / 20%),
                -1px 0 1px rgb(0 0 0 / 20%);
    border-radius: 2px;
  }

  .nav-items.active .nav-item {
    padding: 0;
    box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
    font-size: 1.5rem;
  }
}
