.footer {
    position: relative;
    width: 100%;
    background: var(--color-bg);
    min-height: 80px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-dark); 
}

.footer .social-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.footer .social-icon li,
.menu li {
    list-style: none;
}

.footer .social-icon li a {
    font-size: 2em;
    color: var(--color-dark);
    margin: 0px 10px;
    display: inline-block;
    transition: 0.5s;
}

.footer .social-icon li a:hover {
    transform: translateY(-10px);
}


